.header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  &__logo {
    width: 50%;
    min-width: 12rem;
    max-width: 20rem;
  }
  &__goback {
    position: absolute;
    left: map-get($size, header__goback);
    top: 50%;
    transform: translateY(-50%); /*alignement vertical*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5 * map-get($size, header__goback);
    height: 1.5 * map-get($size, header__goback);
    color: map-get($color, dark-text);
    @media only screen and (min-width: map-get($breakpoint, maximum-width)) {
      /*à partir d'un certain point on arrête d'étirer et on fixe la largeur du contenu*/
      left: calc(#{map-get($size, header__goback)} + 1/2 * (100% - #{map-get($breakpoint, maximum-width)}));
  }
  }
}
