.header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  &__logo {
    width: 50%;
    min-width: 12rem;
    max-width: 20rem;
  }
  &__goback {
    position: absolute;
    left: map-get($font-size, button);
    top: 50%;
    transform: translateY(-50%); /*alignement vertical*/
    width: map-get($font-size, h1);
    height: map-get($font-size, h1);
    color: map-get($color, dark-text);
  }
}
