button {
  width: fit-content;
  border: none;
  background-color: unset;
}

.button-main {
  margin: auto;  
  padding: map-get($font-size, button);
  margin-bottom: 1.5 * map-get($font-size, button);
  display: block;
  color: white;
  background: linear-gradient(
    330deg,
    map-get($color, primary),
    map-get($color, secondary)
  );
  border-radius: 1.6 * map-get($font-size, button);
}

.like {
  position: relative;
  margin: 0 0.5 * map-get($font-size, h4);
  width: 1.1 * map-get($font-size, label); /*1.1 pour être un poil plus grand que l'icône*/
  height: 1.1 * map-get($font-size, label);
  .fas {
    display: none; /*display à remplacer par animation opacity*/
  }
  input {
    display: none;
    &:checked + .fas {
      display: inline-block; /*display à remplacer par animation opacity*/
      + .far {
        display: none; /*display à remplacer par animation opacity*/
      }
    }
  }
  .fa-heart {
    color: map-get($color, primary);
    font-size: inherit;
    position: absolute;
    &.fas {
      color: map-get($color, primary);
    }
    &.far {
      color: black;
      font-weight: lighter;
    }
  }
}
