.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($color, tertiary);
    animation: spinner 0.2s 1.4s both linear;
    opacity: 0;
    z-index: -100;
    > * {
        position: fixed;
        top: 50vh;
        left: 50vw;

    }
    &__logo, &__bar {
        width: 60vw; /*height logo => 10.4vw*/
        height: 10.4vw;
        transform: translate(-50%, -20vw);
    }
    &__bar {
        background-color: map-get($color,tertiary);
        opacity: 0.8;
        transform-origin: right;
        animation: spinner-bar 1.4s both;
    }
    &__spinner{
        width: 15vw; /*height logo => 10.4vw*/
        height: 15vw;
        transform: translate(-50%, 5vw);
        font-size: 15vw;
        color: map-get($color, quaternary);
        animation: spinner-spinner 0.9s cubic-bezier(0.25,0.1, 0.75, 0.9) infinite;
    }

    /*reste à mettre une animation pour faire diminuer la div __bar vers la droite et touner le spinner*/
}