@mixin shadow($param) {
    @if ($param == "button-main") {
        box-shadow: 0 0.2 * map-get($size, $param) 0.6 * map-get($size, $param) rgba(64,64,64, 0.5)
    }; 
    @if ($param == "principle__step") {
        box-shadow: 0 0.15 * map-get($size, $param) 0.6 * map-get($size, $param) rgba(64,64,64, 0.25)
    };
    @if ($param == "dish__title") {
        box-shadow: 0 0.15 * map-get($size, $param) 0.6 * map-get($size, $param) rgba(64,64,64, 0.25)
    };
    @if ($param == "foods__card__title") {
        box-shadow: 0 0.2 * map-get($size, $param) 0.4 * map-get($size, $param) rgba(64,64,64, 0.25)
    };
}
