$main-padding: 5%;
$section-padding-vertical: 2rem; 

$font-size: (
    h1:2.1rem,
    h2:2.1rem,
    h3:1.5rem,
    h4:1.4rem,
    p:1rem,
    input:1.4rem,
    button:1.4rem,
    logo-footer:1rem
);

$color: (
    primary: #9356DC,
    secondary: #FF79DA,
    tertiary: #99E2D0,
    quaternary: #F5EDFF,
    background-main: #F6F6F6,
    background-footer: #353535
)