$main-padding: 5%;
$section-padding-vertical: 2rem; 

$font-size: (
    h1:1.8rem,
    h2:1.8rem,
    h3:1.3rem,
    h4:1.25rem,
    p:1.2rem,
    input:1.2rem,
    label: 1.9rem,
    button:1.2rem,
    footer i: 1rem,
    footer a: 1rem
);


$color: (
    primary: #9356DC,
    secondary: #FF79DA,
    tertiary: #99E2D0,
    quaternary: #F5EDFF,
    background-main: #F6F6F6,
    background-footer: #353535,
    light-text: #7e7e7e,
    dark-text: #353535,
    darker-text: #101010,
    new: #008766
);

$breakpoint: (
    footer: 600px,
    foods-list: 800px,
    principle1: 20 * map-get($font-size, h4),
    principle2: 62 * map-get($font-size, h4),
    presentation: 40 * map-get($font-size, h3) + 16 * map-get($font-size, button),
    maximum-width: 1280px
);